nav {
  display: flex;
  justify-content: space-between;
  background-color: green;
  height: 100px;

}

img{
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
}
.search{

  display: flex;
  align-items: center;
  margin-right: 200px;

}

input {
  height: 50px;
  width: 400px;
}

button {
  height: 57px;
  width: 100px;
}

table{
  margin: auto;
  border: 1px solid black;
  width: 400px;
}